#chart {
  max-width: 800px;
  margin: 35px auto;
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0px 2px 32px rgba(0, 0, 0, 0.1));
}

.cardDashboard{
  background-color: white;
  height: 140px;
  width: 250px;
  border-radius: 15px;
  width: 250px;
  filter: drop-shadow(0px 2px 32px rgba(0, 0, 0, 0.1));
}

.cardDashboard.colorGreen{
  border-bottom: #1FD1A4 solid 8px;
}

.cardDashboard.colorRed{
  border-bottom: #DC3924 solid 8px;
}

.cardDashboard.colorGray{
  border-bottom: #666666 solid 8px;
}

/* css do titulo{

}
css dos valores{

} */