@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root {
  --backgroundBody: #E5E5E5;
  --textColor: black;
  --backgroundContainer: #c9d1d9;
  --shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  --white: white;
}

* {
  box-sizing: border-box;
}
body {
  background: var(--backgroundBody);
  display: flex;
  justify-content: center;
}

.container {
  border-radius: 8px;
  margin: 10rem;
  padding: 2rem;
  width: 500px;
  background-color: var(--backgroundContainer);
  box-shadow: var(--shadow);
}

h4 {
  text-align: justify;
  color: var(--textColor);
}

/*Toggle*/

.toggle{
  margin-right: 20px;
}

.switch {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--textColor);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.switch:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: black;
}

.fa-sun {
  color: #f39c12;
}